@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color:#FF5400;
}
*{
    margin: 0px;
    padding: 0px;
}
header, main{
    margin: 50px 130px;

}
.hiden{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav  ul{
    display: flex;
    gap: 50px;
}
nav li{
    list-style: none;
    font-weight: 500;
}
nav li a{
    color: #424247;
    text-decoration: none;
    font-size: 18px;
}
.nav-home{
    color: var(--primary-color);
}
/* banner styles */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin: 30px 0px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
}
.banner-tital{
    font-size: 64px;
    font-weight: 800;
    color: #FFFF;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 30px 0px;
    color: #FFFF;

}
.banner-search{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}
.form-boutton{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 800px;
    padding: 20px;
    background: rgb(255 255 255 / 38%);
    border-radius: 8px;
}
.form{
    height: 50px;
    width: 170px;
    border-radius: 8px
}
/* main section style */
.popular-tours{
    display: flex;
    margin: 50px 0px;
    gap: 40px;
}
.popular-tours-title{
    font-size: 40px;
    font-weight: 800;
}
.popular-tours-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;

}
.popular-tours-description > {
    gap: 20px;
}
.popular-tours-button{
    background-color: var(--primary-color);
    border-radius: 8px;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    color: #FFFF;
    font-size: 20px;
    font-weight: 800;
    border: 0px;
}
.destination-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 50px 0px;
}
.section-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.section-destination{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 600px;
}
.destination-imgs{
    width: 1300px;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.destination-container2{
    height: 300px;
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.destination-container3{
    height: 300px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0px;

}
.destination-container4{
    height: 300px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.destination-imgs img{
    position: relative;
}

.section-3-part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0px;
}

.section-3-part2-box{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    padding: 20px;
}
.section-3-part2-box img{
    padding-top: 10px;
    padding-left: 10px;
    width: 64px;
    height: 64px;
}
.section-3-part2-box h1{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 20px 0px;
}
.section-3-part2-box p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
#box1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
#box2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#box3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.section-3-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.section-3-part3{
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* ****mother     html:138 */
 .Section-4{
    display: flex;
     margin: 70px 0px;
 }
 .Section-4-part-1{
    margin: 64px;
    margin-top: 6px;
}

.Section-4-part-1 h1{
    color: #131318;
    font-size: 40px; 
 }
 .Section-4-part-1 p{
    color: #5A5A5D;
 }
 .Section-4-part-1 ul li{
    color: #131318;
    font-size: 20px;
 }
 .Section-4-part-2 img{
    height: 298px;
    padding: 37px;
} 
/* START-Newsletter */
.Section-5 {
    display: flex;
    justify-content: space-between;
    margin: 70px 0px;
}
.Newsletter-input{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-left: 40px;
}
.Newsletter-input h1{
    color:#131318;
    font-size:35px ;
    margin-left: 26px;
}
.Newsletter-input p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-size: 17px;
    margin-left: 26px;
}
.Section-4-form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.name{
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
width: 393px;
height: 52px;
margin-left: 37px;
}
.email{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
     height: 52px;
     margin-left: 37px;
}
.form-button{
border-radius: 8px;
background: #FF5400;
width: 393px;
height: 52px;
color: #FFF;
margin-left: 37px;
}

.Newsletter-img{
    position: relative;
    z-index: -1;
    margin-left: 10px;
}
.discount{
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background: #FF5400;
    width: 20rem;
    height: 7rem;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    color: #FFFFFF;
    left: 357px;
    top: -162px;
}
.Newsletter{
    position: relative;
    z-index: 5;
}
.Newsletter-photo img{
    position: relative;
    margin-left: 10px;
}
/* END-Newsletter */
 footer{
    width: 100%;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* padding: 0px 300px; */
    margin-top: 50px;
    }
.footer-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer img{
    width: 100px;
}
.footer-hr{
    background: rgba(19, 19, 24,0.10);}


    @media screen and (max-width: 576px) {
        * {
            margin: 0px;
            padding: 0px;
        }
    
        header, main {
            margin: 0px;
        }
    
        body {
            margin: 20px 5px;
        }
    
        nav {
            flex-direction: column;
            padding: 10px 0px;
        }
    
        nav ul {
            gap: 10px;
        }
    
        main {
            margin: 20px;
        }
    
        .banner {
            height: 100%;
            padding: 10px 20px;
    
        }
    
        .banner-search {
            flex-direction: column;
        }
    
        .form-boutton {
            flex-direction: column;
            width: 75%;
        }
    
        .popular-tours {
            flex-direction: column;
            padding: 0px 10px;
        }
    
        .popular-tours img {
            width: 100%;
            height: 100%;
        }
    
        .popular-tours ul {
            padding-left: 20px;
        }
    
        .destination-container1 {
            gap: 30px;
        }
    
        .section-destination {
            width: 90%;
        }
    
        .destination-imgs {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0px 0px;
        }
    
        .destination-imgs img {
            height: 100%;
            width: 100%;
    
        }
    
        .destination-container2 {
            flex-direction: column;
            align-items: center;
            height: 100%;
            gap: 0px;
    
        }
    
        .destination-container2 img {
            height: 100%;
            width: 85vw;
            justify-content: center;
        }
    
        .destination-container3 {
            flex-direction: column;
            align-items: center;
            height: 100%;
            gap: 0px;
            margin: 0px;
    
        }
    
        .destination-container3 img {
            height: 100%;
            width: 85vw;
        }
    
        .destination-container4 {
            flex-direction: column;
            align-items: center;
            height: 100%;
            gap: 0px;
        }
    
        .destination-container4 img {
            height: 100%;
            width: 85vw;
            padding: 0px 0px;
        }

        .popular-tours {
            width: 100%;
            padding: 0px;
        }
    
        .section-3-part1 {
            flex-direction: column;
            align-items: center;
            gap: 0px;
        }
    
        .section-3-part1 p {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    
        .section-3-part2 {
            flex-direction: column;
            align-items: center;
            gap: 0px;
        }
    
        .section-3-part3 {
            flex-direction: column;
            align-items: center;
            gap: 0px;
            margin: 0px;
        }
    
        .section-3-part1-des {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    
        .section-3-part2-box {
            width: 100%;
            padding: 0px;
        }
    
        .section-3-part2 {
            gap: 20px;
        }
    
        .Section-4 {
            width: 100%;
            flex-direction: column;
        }
    
        iframe {
            width: 100%;
        }
    
        .Section-4-part-1 {
            margin: 0px;
            padding: 30px 20px;
        }
    
        .Section-4-part-1 ul {
            padding: 10px;
        }
    
        .Section-5 {
            flex-direction: column;
            margin: 0px;
        }
    
        .Newsletter-input {
            margin: 0px;
            width: 100%;
            padding: 0px;
        }
    
        .Newsletter-input h1 {
            margin-top: 10px;
            width: 80vw;
            font-size: 100%;
        }
    
        .Newsletter-input p {
            width: 95%;
            font-size: 100%;
            width: 100%;
    
        }
    
        .Section-4-form {
            padding: 10px;
        }
    
        .name {
            margin: 0px;
            width: 100%;
        }
    
        .email {
            margin: 0px;
            width: 100%;
        }
    
        .form-button {
            margin: 0px;
            width: 100%;
        }
    
        /* .Newsletter{
                position: relative;
            } */
        .Newsletter img {
            position: relative;
            z-index: 1;
            padding-top: 30px;
            width: 100%;
            margin: 0px;
        }
    
        .discount {
            position: absolute;
            z-index: 2;
            width: 50%;
            height: 30%;
            left: 46%;
            top: 56%;
            transform: rotate(-19.628deg);
        }
    
        footer {
            width: 100%;
        }
    }